In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
#reading json compressed files
receipts_df = pd.read_json('receipts.json.gz', compression='infer', lines =True) # read line by line
users_df = pd.read_json('users.json.gz', compression='infer', lines =True)
brands_df = pd.read_json('brands.json.gz', compression='infer', lines =True)

In [3]:
receipts_df.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [4]:
#getting to know the datatype of each column
receipts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [5]:
#transforming each element of a list to a row replicating index values
receipts_df = receipts_df.explode('rewardsReceiptItemList')
receipts_df.reset_index(inplace=True)

In [6]:
receipts_df

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
7377,1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
7378,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
7379,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
7380,1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [7]:
#as json_normalise does not work with NAN values filling na's with {}
receipts_df['rewardsReceiptItemList'] = receipts_df['rewardsReceiptItemList'].fillna({i: {} for i in receipts_df.index})

In [8]:
receipts_df

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
7377,1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
7378,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B076FJ92M4', 'description': 'muel...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
7379,1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"{'barcode': 'B07BRRLSVC', 'description': 'thin...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
7380,1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,{},SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [9]:
# rewardsReceiptItemList is dict column so converting keys to column headers and values to rows
receiptItemList_df = pd.json_normalize(receipts_df['rewardsReceiptItemList'], record_prefix = 'rewardsReceiptItemList_', errors = 'ignore').add_prefix('rewardsReceiptItemList_')

In [10]:
receiptItemList_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 34 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   rewardsReceiptItemList_barcode                             3090 non-null   object
 1   rewardsReceiptItemList_description                         6560 non-null   object
 2   rewardsReceiptItemList_finalPrice                          6767 non-null   object
 3   rewardsReceiptItemList_itemPrice                           6767 non-null   object
 4   rewardsReceiptItemList_needsFetchReview                    813 non-null    object
 5   rewardsReceiptItemList_partnerItemId                       6941 non-null   object
 6   rewardsReceiptItemList_preventTargetGapPoints              358 non-null    object
 7   rewardsReceiptItemList_quantityPurchased                   6767 non-null   float64
 8   rewardsReceiptItemList_userFlaggedBarcode                  337 non-null    object
 9   rewardsReceiptItemList_userFlaggedNewItem                  323 non-null    object
 10  rewardsReceiptItemList_userFlaggedPrice                    299 non-null    object
 11  rewardsReceiptItemList_userFlaggedQuantity                 299 non-null    float64
 12  rewardsReceiptItemList_needsFetchReviewReason              219 non-null    object
 13  rewardsReceiptItemList_pointsNotAwardedReason              340 non-null    object
 14  rewardsReceiptItemList_pointsPayerId                       1267 non-null   object
 15  rewardsReceiptItemList_rewardsGroup                        1731 non-null   object
 16  rewardsReceiptItemList_rewardsProductPartnerId             2269 non-null   object
 17  rewardsReceiptItemList_userFlaggedDescription              205 non-null    object
 18  rewardsReceiptItemList_originalMetaBriteBarcode            71 non-null     object
 19  rewardsReceiptItemList_originalMetaBriteDescription        10 non-null     object
 20  rewardsReceiptItemList_brandCode                           2600 non-null   object
 21  rewardsReceiptItemList_competitorRewardsGroup              275 non-null    object
 22  rewardsReceiptItemList_discountedItemPrice                 5769 non-null   object
 23  rewardsReceiptItemList_originalReceiptItemText             5760 non-null   object
 24  rewardsReceiptItemList_itemNumber                          153 non-null    object
 25  rewardsReceiptItemList_originalMetaBriteQuantityPurchased  15 non-null     float64
 26  rewardsReceiptItemList_pointsEarned                        927 non-null    object
 27  rewardsReceiptItemList_targetPrice                         378 non-null    object
 28  rewardsReceiptItemList_competitiveProduct                  645 non-null    object
 29  rewardsReceiptItemList_originalFinalPrice                  9 non-null      object
 30  rewardsReceiptItemList_originalMetaBriteItemPrice          9 non-null      object
 31  rewardsReceiptItemList_deleted                             9 non-null      object
 32  rewardsReceiptItemList_priceAfterCoupon                    956 non-null    object
 33  rewardsReceiptItemList_metabriteCampaignId                 863 non-null    object
dtypes: float64(3), object(31)
memory usage: 1.9+ MB

In [11]:
#joining the two dataframes 
norm_receipts_df = receipts_df.join(receiptItemList_df, how = 'outer')

In [12]:
#dropping the 'rewardsReceiptItemList' coulmn after extracting the data
norm_receipts_df.drop(columns = ['rewardsReceiptItemList'],axis = 1, inplace = True)

In [13]:
#The final joined dataset
norm_receipts_df.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList_itemNumber,rewardsReceiptItemList_originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,rewardsReceiptItemList_targetPrice,rewardsReceiptItemList_competitiveProduct,rewardsReceiptItemList_originalFinalPrice,rewardsReceiptItemList_originalMetaBriteItemPrice,rewardsReceiptItemList_deleted,rewardsReceiptItemList_priceAfterCoupon,rewardsReceiptItemList_metabriteCampaignId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#converting Date fields which are in dictionary format to DateTime format
norm_receipts_df['createDate'][0]

{'$date': 1609687531000}

In [15]:
#handling NaN values
norm_receipts_df['finishedDate'] = norm_receipts_df['finishedDate'].fillna({i: {} for i in receipts_df.index})
norm_receipts_df['pointsAwardedDate'] = norm_receipts_df['pointsAwardedDate'].fillna({i: {} for i in receipts_df.index})
norm_receipts_df['purchaseDate'] = norm_receipts_df['purchaseDate'].fillna({i: {} for i in receipts_df.index})

In [16]:
#extracting data from dict and then converting into DateTime
norm_receipts_df['createDate'] = pd.to_datetime(pd.json_normalize(norm_receipts_df['createDate'])['$date'],unit = 'ms').astype('datetime64[s]')
norm_receipts_df['dateScanned'] = pd.to_datetime(pd.json_normalize(norm_receipts_df['dateScanned'])['$date'],unit = 'ms').astype('datetime64[s]')
norm_receipts_df['finishedDate'] = pd.to_datetime(pd.json_normalize(norm_receipts_df['finishedDate'])['$date'],errors='coerce',unit = 'ms').astype('datetime64[s]')
norm_receipts_df['modifyDate'] = pd.to_datetime(pd.json_normalize(norm_receipts_df['modifyDate'])['$date'],unit = 'ms').astype('datetime64[s]')
norm_receipts_df['pointsAwardedDate'] = pd.to_datetime(pd.json_normalize(norm_receipts_df['pointsAwardedDate'])['$date'],unit = 'ms').astype('datetime64[s]')
norm_receipts_df['purchaseDate'] = pd.to_datetime(pd.json_normalize(norm_receipts_df['purchaseDate'])['$date'],unit = 'ms').astype('datetime64[s]')

In [17]:
norm_receipts_df.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList_itemNumber,rewardsReceiptItemList_originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,rewardsReceiptItemList_targetPrice,rewardsReceiptItemList_competitiveProduct,rewardsReceiptItemList_originalFinalPrice,rewardsReceiptItemList_originalMetaBriteItemPrice,rewardsReceiptItemList_deleted,rewardsReceiptItemList_priceAfterCoupon,rewardsReceiptItemList_metabriteCampaignId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#extracting data from dictionary 
norm_receipts_df['_id'] = pd.json_normalize(norm_receipts_df['_id'])

In [19]:
norm_receipts_df.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList_itemNumber,rewardsReceiptItemList_originalMetaBriteQuantityPurchased,rewardsReceiptItemList_pointsEarned,rewardsReceiptItemList_targetPrice,rewardsReceiptItemList_competitiveProduct,rewardsReceiptItemList_originalFinalPrice,rewardsReceiptItemList_originalMetaBriteItemPrice,rewardsReceiptItemList_deleted,rewardsReceiptItemList_priceAfterCoupon,rewardsReceiptItemList_metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [21]:
#handling NaN values
users_df['lastLogin'] = users_df['lastLogin'].fillna({i: {} for i in users_df.index})

In [22]:
#extracting data from dict and then converting into DateTime
users_df['_id'] = pd.json_normalize(users_df['_id'])
users_df['createdDate'] = pd.to_datetime(pd.json_normalize(users_df['createdDate'])['$date'],unit = 'ms').astype('datetime64[s]')
users_df['lastLogin'] = pd.to_datetime(pd.json_normalize(users_df['lastLogin'])['$date'],unit = 'ms').astype('datetime64[s]')

In [23]:
#users data after converting the date fields
users_df.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30,2021-01-03 15:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI

In [24]:
brands_df.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [25]:
# cpg is dict column so converting keys to column headers and values to rows
cpg_df = pd.json_normalize(brands_df['cpg']).add_prefix('cpg.')

In [26]:
#joining the two dataframes 
norm_brands_df = brands_df.join(cpg_df, how = 'outer')

In [27]:
#extracting data from dictionary 
norm_brands_df['_id'] = pd.json_normalize(norm_brands_df['_id'])

In [28]:
#dropping the 'cpg' column after extracting the data
norm_brands_df.drop(columns = 'cpg', axis = 1, inplace = True)

In [68]:
#Final dataset 
norm_brands_df.head()

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7

In [36]:
norm_brands_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   name          1167 non-null   object
 5   topBrand      555 non-null    float64
 6   brandCode     933 non-null    object
 7   cpg.$ref      1167 non-null   object
 8   cpg.$id.$oid  1167 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 131.2+ KB

In [38]:
norm_brands_df.shape

(1167, 9)

In [30]:
#performing SQL querying using SQLAlchemy
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [31]:
#dropping duplicates with same _id and writing users dataframe to database
users_df.drop_duplicates(subset=['_id']).to_sql('users_data',con=engine)

In [32]:
#writing normalised receipts data to database
norm_receipts_df.to_sql('receipts_data',con =engine)

In [33]:
#writing normalised brands data to database
norm_brands_df.drop_duplicates(subset=['brandCode']).to_sql('brands_data',con=engine)

In [34]:
#Top 5 brands from the given dataset
engine.execute("select r.rewardsReceiptItemList_brandCode, count(*) from receipts_data r where r.rewardsReceiptItemList_brandCode != 'None' and r.purchaseDate > (select max(purchaseDate) from receipts_data)-30 group by r.rewardsReceiptItemList_brandCode order by count(*) desc LIMIT 5").fetchall()

[('HY-VEE', 291),
 ('BEN AND JERRYS', 180),
 ('PEPSI', 93),
 ('KROGER', 89),
 ('KLEENEX', 88)]

In [35]:
#Top 5 brands for the most recent month
engine.execute("select r.rewardsReceiptItemList_brandCode, count(*) from receipts_data r where r.rewardsReceiptItemList_brandCode != 'None' and r.purchaseDate > (SELECT strftime('%Y-%m-%d %H:%M:%S', (select MAX(purchaseDate) from receipts_data),'-1 month')) group by r.rewardsReceiptItemList_brandCode order by count(*) desc LIMIT 5").fetchall()

[('MISSION', 1)]

In [ ]:
#data quality check
#Trying to map missing brandcode in Receipts table by looking into barcode from Brands table

In [87]:
len(set(norm_receipts_df['rewardsReceiptItemList_barcode']))

569

In [86]:
len(set(norm_brands_df['barcode']))

1160

In [106]:
mapping_code_df = norm_receipts_df.dropna(subset=['rewardsReceiptItemList_barcode'])

In [105]:
mapping_code_df[['rewardsReceiptItemList_barcode','rewardsReceiptItemList_brandCode']]

     rewardsReceiptItemList_barcode rewardsReceiptItemList_brandCode
0                              4011                              NaN
1                              4011                              NaN
2                      028400642255                              NaN
4                              4011                              NaN
5                              4011                              NaN
...                             ...                              ...
7373                     B07BRRLSVC                              NaN
7374                     B076FJ92M4                              NaN
7375                     B07BRRLSVC                              NaN
7378                     B076FJ92M4                              NaN
7379                     B07BRRLSVC                              NaN

[3090 rows x 2 columns]

In [115]:
norm_brands_df['barcode'] = norm_brands_df['barcode'].apply(lambda x: str(x))

In [117]:
df = pd.merge(mapping_code_df,norm_brands_df,left_on='rewardsReceiptItemList_barcode',right_on='barcode')

In [119]:
df

,index,_id_x,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList_metabriteCampaignId,_id_y,barcode,category,categoryCode,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
0,301,600206000a720f05f3000087,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-15 21:15:44,2021-01-15 21:15:44,2021-01-15 21:17:17,2021-01-15 21:17:27,2021-01-15 21:17:17,855.7,...,NaN,5a8c36dbe4b0ccf165fac9e9,511111204206,Canned Goods & Soups,NaN,Swanson,0.0,SWANSON,Cogs,5a734034e4b0d58f376be874
1,303,600208270a720f05f3000088,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-15 21:24:55,2021-01-15 21:24:55,2021-01-15 21:26:19,2021-01-15 21:26:29,2021-01-15 21:26:19,605.7,...,NaN,5a8c36dbe4b0ccf165fac9e9,511111204206,Canned Goods & Soups,NaN,Swanson,0.0,SWANSON,Cogs,5a734034e4b0d58f376be874
2,305,600373700a720f05f3000091,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-16 23:14:56,2021-01-16 23:14:56,2021-01-16 23:29:50,2021-01-16 23:31:40,2021-01-16 23:29:50,2416.7,...,NaN,5a8c36dbe4b0ccf165fac9e9,511111204206,Canned Goods & Soups,NaN,Swanson,0.0,SWANSON,Cogs,5a734034e4b0d58f376be874
3,306,60023e8f0a720f05f300008b,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-16 01:17:03,2021-01-16 01:17:03,2021-01-16 01:24:04,2021-01-16 01:24:50,2021-01-16 01:24:04,1806.4,...,NaN,5a8c36dbe4b0ccf165fac9e9,511111204206,Canned Goods & Soups,NaN,Swanson,0.0,SWANSON,Cogs,5a734034e4b0d58f376be874
4,309,60020d2a0a720f05f300008a,300.0,"Receipt number 4 completed, bonus point schedu...",2021-01-15 21:46:18,2021-01-15 21:46:18,2021-01-15 21:49:45,2021-01-16 01:13:21,2021-01-15 21:49:45,405.7,...,NaN,5a8c36dbe4b0ccf165fac9e9,511111204206,Canned Goods & Soups,NaN,Swanson,0.0,SWANSON,Cogs,5a734034e4b0d58f376be874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,469,600f39c30a7214ada2000030,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-25 21:36:03,2021-01-25 21:36:03,2021-01-26 03:06:03,2021-01-26 03:07:40,2021-01-26 03:06:03,7137.2,...,NaN,5a8c35dde4b0ccf165fac9e6,511111904175,Grocery,NaN,Pepperidge Farm,0.0,PEPPERIDGE FARM,Cogs,5a734034e4b0d58f376be874
85,469,600f39c30a7214ada2000030,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-25 21:36:03,2021-01-25 21:36:03,2021-01-26 03:06:03,2021-01-26 03:07:40,2021-01-26 03:06:03,7137.2,...,NaN,5a8c35dde4b0ccf165fac9e6,511111904175,Grocery,NaN,Pepperidge Farm,0.0,PEPPERIDGE FARM,Cogs,5a734034e4b0d58f376be874
86,543,600f2fc80a720f0535000030,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-25 20:53:28,2021-01-25 20:53:28,2021-01-25 22:04:23,2021-01-28 22:37:02,2021-01-25 22:04:23,4944.7,...,NaN,5a8c35dde4b0ccf165fac9e6,511111904175,Grocery,NaN,Pepperidge Farm,0.0,PEPPERIDGE FARM,Cogs,5a734034e4b0d58f376be874
87,543,600f2fc80a720f0535000030,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-25 20:53:28,2021-01-25 20:53:28,2021-01-25 22:04:23,2021-01-28 22:37:02,2021-01-25 22:04:23,4944.7,...,NaN,5a8c35dde4b0ccf165fac9e6,511111904175,Grocery,NaN,Pepperidge Farm,0.0,PEPPERIDGE FARM,Cogs,5a734034e4b0d58f376be874
88,543,600f2fc80a720f0535000030,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-25 20:53:28,2021-01-25 20:53:28,2021-01-25 22:04:23,2021-01-28 22:37:02,2021-01-25 22:04:23,4944.7,...,NaN,5332f5fbe4b03c9a25efd0bb,511111003960,Beverages,NaN,Mountain Dew,0.0,MOUNTAIN DEW,Cogs,5332f5fbe4b03c9a25efd0ba